<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ABOUT PAGE</title>
  </head>
  <body>
    {{> header}}

    <h3>PORTFOLIO PAGE</h3>
    <p>some text here</p>

  {{> footer}}
  </body>
</html>